* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-areas:
        "header"
        "main"
    ;
}
/*Grid areas para que funcionen*/
#contenedorFiltros {
    grid-area: contenedorFiltros;
}

#contenedorTodas {
    grid-area: contenedorTodas;
}

#contenedorFiltro {
    grid-area: contenedorFiltro;
}

#contenedorCompletas {
    grid-area: contenedorCompletas;
}
#contenedorDatos{
    grid-area: contenedorDatos;
}

#agregarPersonal{
    grid-area: agregarPersonal;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "contenedorDatos contenedorFiltros agregarPersonal"
        "contenedorTodas contenedorFiltro contenedorCompletas"
    ;
}